
    p{
        font-family: Arial;
    }
    .video-title {
        font-size: 18px;
        font-weight: bold;
        width: 300px;
        height: 25px;
        margin-bottom: 20px;

    }
    .video-stats{
        font-size: 14px;
        color: rgb(96, 91, 91);
        
    }
    .autor{
        font-size: 14px;
        color: rgb(96, 91, 91);
        margin-bottom: 20px;
    }
    .description{
        font-size: 14px;
        color: rgb(96, 91, 91);
        width: 280px;
        line-height: 20px;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .apple-text{
        margin-bottom: 50px;
        font-size: 14px;
        background-color: rgb(240, 62, 62);
        padding-top: 18px;
        padding-bottom: 18px;
        color: white;
        text-align: center;
       
    }
    .span-ex:hover{
        text-decoration: underline;
        cursor: pointer;

    }
