.header{
    background-color: white;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-width: 1px;
    border-bottom-color: rgb(227, 219, 219) ;
    border-bottom-style: solid;
    z-index: 100;
}
.left-sec{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}
.mid-sec{
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}
.search-b{
    height: 39px;
    width: 65px;
    border: solid;
    border-width: 1px;
    border-color:rgb(212, 207, 207);
    margin-left: -1px;   
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search-b ,
.voicesearch-b ,
.upload-container ,
.you-apps-container ,
.notifications-icon-pic {
    position: relative;
    display: flex;
    justify-content: center;
}
.search-b .tooltip ,
.voicesearch-b .tooltip ,
.upload-container .tooltip ,
.you-apps-container .tooltip ,
.notifications-icon-pic .tooltip {
    position: absolute;
    background-color: rgb(106, 105, 105);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-b:hover .tooltip ,
.voicesearch-b:hover .tooltip ,
.upload-container:hover .tooltip ,
.you-apps-container:hover .tooltip ,
.notifications-icon-pic:hover .tooltip{
    opacity: 1;
}
.searchbar{
    flex: 1;
    height: 35px;
    border: 1px solid rgb(212, 207, 207);
    padding-left: 10px;
    border-radius: 2px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
    
}
.searchbar::placeholder{
    font-size: 16px;
}
.search-icon{
    height: 25px;
    margin-top: 4px;
    
}


    
.voicesearch-b{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    background-color: rgb(247, 247, 247);
}
.voice-pic{
    height:25px ;
    margin-top: 4px;

}
.right-sec{
    display: flex;
    width: 180px; 
    align-items: center;   
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.notifications-icon-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(199, 0, 0);
    color: white;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;

}
.up-b{
    height: 25px;
}
.you-apps{
    height: 24px;
}
.notifications{
    height: 25px;
}
.my-prof{
    height: 40px;
    border-radius: 30px;
}